/* police*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.container{
    padding:0px 20px 0px 20px;
    max-width:1420px;
    margin:auto;
}
body{
    margin:0px;
}

/*wildcard*/
*{
    font-family: raleway,sans-serif;
    box-sizing: border-box;
}
a{
    color:inherit;
    text-decoration: none;
}

/*header*/
.titleh1{
    margin:30px 0px 0px 0px;
}
.subtitleh1{
    margin:16px 0px 16px 0px;;
}

/*navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;      
}
.nav-items{
    width:30%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.items{
    display:flex;
    color:black;
    width:50%;
    justify-content:center;
    padding-top:10px;
}
.items:hover{
    color:#0065fc;
    border-top: 3px solid #0065fc;
    border-bottom: 3px solid transparent;
}

.logobooki{
    width:100px;
}

/*research*/
.fas.fa-map-marker-alt{
    display: flex;
    border:2px solid #f2f2f2;
    background-color: #f2f2f2;
    width:50px;
    height:50px;
    border-radius:15px 0px 0px 15px;
    align-items:center;
    justify-content: center;
}
.fas.fa-map-marker-alt::before{
    display:flex;
    width:30px;
    height:30px;
    align-items:center;
    justify-content: center;
}
.research {
    display:flex;
    max-width: 80%;
    height:50.4px;
}
.research-bar{
    display:flex;
    border:2px solid;
    border-right:none;
    border-color: #f2f2f2;
    font-weight:bold ;
    text-align:center;
    width:280px;
}
.hideonmobile{
    border:none; 
    background-color:#0065fc;
    color:white;
    font-weight:bold;
    border-radius:0px 15px 15px 0px;
    justify-content:center;
    width:160.8px;
    height:50.4px;
    display:block;
}
.showonmobile{
    display:none;
}

/*filtres*/
.filtres{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    max-width:74%; 
    font-weight:bold; 
}
h2{
    font-size:27px;
}
.icon{
    display:flex;
    border:3px solid #f2f2f2;
    padding:1px 15px 1px 0px;
    height:50px;
    align-items:center;
    border-radius:30px;
}
.icon:hover{
    background-color:#deebff;
}
.i{
    color:#0065fc;
    display:flex;
    align-items:center;
    width:50px;
    height: 50px;
    border-radius:30px;
    background-color:#deebff;
    justify-content:center;
    margin-left:-3px;
}
.efra{
    margin-left:5px;
    }

/*icone information*/
.icon-information{
    max-width:80%;
    display:flex;
    align-items:center;
    margin: 0px 0px 40px 0px;
}
.iconi{
    display:flex;
    justify-content:center;
    width:32px;
    height:32px;
    color:#0065fc;
    border: 2px solid #f2f2f2;
    border-radius:30px 30px 30px 30px;
    background-color:white;
    margin-right: 15px;
    align-items:center;
}

/*Section1*/
.section1{
    display:flex;  
    justify-content:space-between;
    max-width:100%; 
}
.h2marseille{
    font-size:135%;
    padding-left:20px;
    padding-top:20px;
}
.accommodation{
    background-color:#f2f2f2;   
    border-radius:30px; 
    width:64%;          
}
.linetablette{
    width:100%;  
}
.line1{
    display:flex;
    width:100%;
    justify-content:space-around;
    margin-bottom: 50px;
}
.line2{
    display:flex;
    width:100%;
    justify-content:space-around;
}
.accommodationa{
    width:265px;   
}
.accommodationmain{  
    background-color:white;
    border-radius:20px;  
    margin:0px;
    max-height:240px;     
}
.photo1{
    object-fit:cover;
    max-height:130px;
    width:100%;
    border-radius:20px 20px 0px 0px;
    padding:5px;  
}
.accommodationfigcaption{
    max-width:265px;
    height:130px;
    padding-bottom:20px;
}
h3{
    margin:0px 10px 0px 20px;
    padding:0px;
}
.pricepop{
    padding-left:20px;
    margin:10px 0px 10px 0px;
}
.pricebold{
    font-weight:bold;
}
.afficher{
    padding-top:20px;
}

/*aside*/

.themostpopular{
    background-color:#f2f2f2; 
    border-radius:30px;
    width:35%;
}
.themostpop{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:135%;
    margin: 35px 35px 30px 30px;
} 

.themostpopulara{
    max-width:411.8px;    
}
.themostpopularmain{
    display:flex;
    height:23%;
    margin:-10px 20px 60px 20px;
    background-color:white;
    border-radius:20px;  
}
.photo2{
    object-fit:cover;
    max-width:140px;
    width:100%;
    border-radius:20px 0px 0px 20px;
    padding:5px;
}
.themostpopularmainfigcaption{
    font-weight:bold;
    padding-bottom:10px;
    max-width:271.8px;
    max-height:150px;
}
.star{
    color:#0065fc;
    margin-left:20px;
}
.star2{
    color:#0065fc;
    margin:10% 0% 20% 8%;
}
.greystar{
    color:#f2f2f2;
}
.h3pop{
    margin-top:10px;
}
.afficher{
    display:inline-block;
    margin:50px 0px 0px 30px;
    font-weight: bold;
    font-size:115%;
}

/*Section 2 activity*/
.section2{
    max-width:100%;
}
.activity{
    display:flex;
    justify-content:space-between;
    max-width:100%;
    margin-bottom: 40px;  
}
.card{
    width:24%;
    margin-left:5px;
}

.figuremob{
    width:100%;
    box-shadow:5px 0px 5px 5px #f2f2f2;
    border-radius:15px 15px 15px 15px;
    margin:0px;
}
.figure1{
    height:100%;   
}
.figure2{
    height:59%;
}
.figure3{  
    height:39%;
    margin:17px 0px 0px 0px;
}
.figure4{ 
    height:100%;
}
.figure5{
    height:49%;
    
}
.figure6{
    height:49%;
    margin:17px 0px 0px 0px;
    
}
.activfigcaption{  
    width:100%; 
    border-radius:0px 0px 15px 15px;
    height:40px; 
}
.photoblock1,.photoblock4{
    width:100%;
    height:87%;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
}
.photoblock2{
    width:100%;
    height:77%;
    object-fit:cover;
    border-radius:15px 15px 0px 0px;
}
.photoblock3{
    width:100%;
    height:67%;
    object-fit:cover;
    border-radius:15px 15px 0px 0px;
}
.photoblock5,.photoblock6{
    width:100%;
    height:73%;
    object-fit:cover;
    border-radius:15px 15px 0px 0px;
}
.h3activity{
    margin-top:20px;
}
   
/*footer*/
.footer{  
    background-color:#f2f2f2; 
    max-width:100%;
    margin:0px;       
}
.cases123{
    display:flex;
    max-width:75%;
    justify-content:space-between;      
}
.case{
    margin:0px 20px;
}
.h3footer{
    margin:20px 0px 0px 40px;   
}
ul{
    list-style-type: none;
    margin:0px;
}
li{
    margin:20px 0px;
}
@media screen and (min-width:768px) and (max-width:992px) {
    .container{
        padding:0px 20px 0px 20px;
    }
    .section1{
        flex-direction:column-reverse;  
    }

    /*accommodation*/
    .accommodation{
        width:100%;
        height:1000px;  
    }
    .photo1{
        width:100%;
    }
    .accommodationmain{
        width:100%;
        margin-bottom:30px;
    }
    .linetablette{
        display:flex;
        justify-content:space-between;
    }
    .line1{
        flex-direction:column;
        justify-content:space-between;
        max-width:47%;
        margin:20px 0px 0px 90px;
    }
    .line2{
        flex-direction:column;
        justify-content:space-between;
        max-width:47%; 
        margin:20px 0px 0px 60px;  
        padding-left:20px;   
    }
    .h2marseille{
        padding:10px 0px 0px 75px;
    }
    .afficher{
        margin:0px 0px 30px 90px;   
    }

    /*aside*/
    .themostpopular{
        width:100%; 
        margin-bottom:30px;
    }
    
    .themostpopularmain{ 
        margin:20px;
        height:185px;  
    }
    .themostpop{
        justify-content:space-between;
        margin-right:30px;
    }
    
    /*activités*/
    .activity{  
        flex-wrap:wrap;
        align-content:space-around;
        margin:40px 0px 40px 0px;
    }
    .activamars{
        margin:30px 0px 0px 70px;
    }
    
    /*footer**/
    .footer{
        max-width:100%;
    }
    .cases123{
        max-width:100%; 
    }
    .case{
        width:33%;
        justify-content:space-around;
        margin:0px;
    }   
}
@media screen and (max-width:768px){
    .container{
        padding:0px 20px 0px 20px;
    }
    header{
        width:100%;
    }

    /*navigation*/
    nav{
        width:100%;
        flex-direction:column;
    }
    .nav-items{
        width:100%;
    }
    .items:hover{  
        color: #0065fc;
        border-bottom:3px solid #0065fc;
        border-top: 3px solid transparent;
    } 
    .items{
        border-bottom:3px solid #f2f2f2; 
        border-top:3px solid transparent;
        display:flex;
        width:50%;
        padding-bottom:10px;
    }
    .logobooki{
        margin-bottom:35px;      
    }
    
    /*titres*/
    h1{
        font-size:25px;
        padding-bottom:10px;
        max-width:85%;
    }
    .subtitleh1{
        margin-top:5px;
        padding-bottom:30px;
    }
   
    /*research*/
    .research{
        max-width:400px;
        margin-bottom:30px;
    }
    .research-bar{
        max-width:300px;  
    }
    .hideonmobile{
        display:none;
    }
    .showonmobile{
        display:block;
        border:none; 
        background-color:#0065fc;
        color:white;
        font-weight:bold;
        border-radius:15px 15px 15px 15px;
        justify-content:center;
        width:55px;
        margin-right:10px;
        margin-left:-20px;    
    }
    .icon{
        margin-bottom:10px;
    }
    .filtres{
        width:100%;
    }

    /*section1*/
    .section1{
        width:100%; 
        display:flex;
        flex-direction: column-reverse;
    }

    /*aside*/
    .themostpopular{
        width:100%;
        margin-bottom:20px;
        border-radius:0px;
    }
    .themostpop{
        justify-content:space-between;
        margin-right:30px;
    }
    .themostpopularmain{ 
        height:205px;  
        margin:0px 20px 20px 12px;
    }
    .afficher{
        margin:0px;
        padding:0px;
    }
    .activamars{
        margin:30px 0px 0px 0px;
    }
    .hmarseille{
        margin:0px 0PX 10PX 0PX;
        padding:5px;
    }

    /*hébergements*/
    .accommodation{
        width:100%;
        background-color:white;   
    }
    .linetablette{
        width:100%;
        margin:0px;
    }
    .line1{
        flex-direction:column;
        width:100%;
        height:800px;
        margin:0px 0px 20px 0px;
    }
    .line2{
        flex-direction:column;
        width:100%;
        height:800px;
        margin:-20px 0px 0px 0px;      
    }
    .accommodationa{
        margin:0px;
        width:100%;
        height:300px;
    }
    .accommodationmain{
        width:100%;
        margin:10px 0px 10px 0px;
        box-shadow:5px 0px 5px 5px #f2f2f2;
    }
    .photo1{
        width:100%;
        object-fit: cover;
    }
    .accommodationfigcaption{
        width:100%;
    }
    .title2{
        width:100%;
        font-size:20px;
        margin-left:10px;
    }

    /*section2 activités*/
    .activity{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
        margin:0px 0px 20px 0px;
    }
    .h2marseille{
        margin:0px;
        padding:0px;
    }
    .h3activity{
        margin-top: 10px;
    }
    .card{
        width:100%;
    }
    .figuremob{
        height:240px;
        width:100%;
        margin:30px 0px 0px 0px;
    }
    .photoblock{
        object-fit: cover;
        width:100%;
        height:80%;
    }

    /*footer*/
    footer{
        width:100%;
    }
    .h3footer{
        margin:20px 0px 0px 0px;
    }
    .cases123{
        flex-direction:column;
        margin:auto;
    }
    .case ul{
        margin:0px;
        padding:0px;
    }
    .case ul li a {
        margin:0px;
    }
    
}