/*couleur fond de page , couleur police,marge*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.container{
    margin:auto;
    max-width:1366px;
}
body{
    margin:0px;
}
/*wildcard*/
*{
    font-family: raleway,sans-serif;
    box-sizing: border-box;
}
a{
    color:inherit;
    text-decoration: none;
}
/*header*/
.titleh1{
    margin:30px 0px 0px 0px;
}
.subtitleh1{
    margin:16px 0px 16px 0px;;
}
/*navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top:30px;   
}
nav a{
    padding:40px;
    color: #0065fc;
    border-top: 3px solid transparent;
}
nav a:hover{
    border-top:3px solid #0065fc;
}
.logobooki{
       width:100px;
}
.hebergact{
    display:flex;
}

.activites{
    color:black;
}
.activites:hover{
    color:#0065fc;
}
nav .activites a{
    color:black;
}
/*research*/
.fas.fa-map-marker-alt{
    display: flex;
    border:2px solid #f2f2f2;
    background-color: #f2f2f2;
    width:50px;
    height:50px;
    border-radius:15px 0px 0px 15px;
    align-items:center;
    justify-content: center;
}
.fas.fa-map-marker-alt::before{
    display:flex;
    width:30px;
    height:30px;
    align-items:center;
    justify-content: center;
}
.research {
    display:flex;
    max-width: 80%;
    height:50.4px;
}

.research-bar{
    display:flex;
    border:2px 0px 2px 2px solid;
    border-color: #f2f2f2;
    font-weight:bold ;
    text-align:center;
    width:280px;
}


.button-research{
    border:none;
    display:flex;
    background-color:#0065fc;
    color:white;
    font-weight:bold;
    padding-top: 15px;
    border-radius:0px 15px 15px 0px;
    width:136px;
    justify-content:center;
}

/*filtres*/

.filtres{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    max-width:74%; 
    font-weight:bold; 
}
h2{
    font-size:27px;
}

/*filtres*/
.icon{
    display:flex;
    border:3px solid #f2f2f2;
    padding:1px 15px 1px 0px;
    height:50px;
    align-items:center;
    border-radius:30px;
}
a{
    margin-left:10px;
}

.icon:hover{
    background-color:#deebff;
}
.i{
    color:#0065fc;
    display:flex;
    align-items:center;
    width:50px;
    height: 50px;
    border-radius:30px;
    background-color:#deebff;
    justify-content:center;
    margin-left:-3px;
}

/*icone information*/

.icon-information{
    max-width:80%;
    display:flex;
    align-items:center;
    margin: 0px 0px 40px 0px;
}
.iconi{
    display:flex;
    justify-content:center;
    width:32px;
    height:32px;
    color:#0065fc;
    border: 2px solid #f2f2f2;
    border-radius:30px 30px 30px 30px;
    background-color:white;
    margin-right: 15px;
    align-items:center;
}
/*Section1*/
.section1{
    display:flex;  
    width:100%; 
}
.hmarseille{
    font-size:135%;
    padding-left:40px;
    padding-top:20px;
}
h3{
    margin:10px 10px 10px 20px;
}
.accommodation{
    background-color:#f2f2f2;
    margin-right:2%;
    border-radius:30px; 
    width:69%;           
}

.line1{
    display:flex; 
    justify-content:space-around;
    margin-bottom:20px;
    width:100%;
    
}
.line2{
    display:flex; 
    justify-content:space-around;  
    width:100%;
}

.accommodationmaincard{
    display:flex;
    max-width:31%;
    max-height:30%;
    padding:5px;
}
.accommodationmain{  
    background-color:white;
    border-radius:20px;  
    margin:0px;
}

.photo1{
    object-fit:cover;
    width:265px;
    height:150px;
    border-radius:20px 20px 0px 0px;
    padding:5px;  
}
.accommodationmaincardfigcaption{
    padding-bottom:20px;

}
figcaption{
    font-weight:bold;     
}
.accommodationmaincardprice{
    font-weight: normal;
}



/*aside*/
aside{
    display:flex;  
    background-color:#f2f2f2; 
    border-radius:30px;
    width:29%;
}
.themostpopular{
    width:100%; 
}

.themostpop{
    display:flex;
    align-items:center;
    font-size:135%;
    margin: 35px 35px 30px 30px;
}  
/*îcone*/
.zigzag{
    margin-left:32%;
}
.themostpopularmaincard{
    display:flex;
    flex-direction:column; 
    align-content:center; 
    
}
.themostpopularmain{
    display:flex;
    width:90%;
    background-color:white;
    border-radius:20px;  
    margin:0px 0px 80px 12px;;
}

.photo2{
    object-fit:cover;
    width:122px;
    height:160px;
    border-radius:20px 0px 0px 20px;
    padding:5px 0px 0px 5px;
}
.themostpopularmainfigcaption{
    font-weight:bold;
    padding-bottom:10px;
}
.star{
    color:#0065fc;
    margin:10px 0px 0px 20px;
}
.star2{
    color:#0065fc;
    margin:20px 0px 20px 20px;
}
.greystar{
    color:#f2f2f2;
}

span{
    font-weight:normal;
    margin:0px 0px 0px 20px;
}

.afficher{
    display:inline-block;
    margin:50px 0px 0px 30px;
    font-weight: bold;
    font-size:115%;
}

/*Section2*/
/*activity*/
.section2{
    max-width:1352.87px;
}

.activity{
    display:flex;
    justify-content:space-around;
    height:600px;
    max-width:1352.87px;
}
.block1AB{
    display:flex;
}
.block2CD{
    display:flex;
}

/*block1*/
.block1{
    height:544px;
    width:320px; 
    margin:0px 30px 0px -25px;
    box-shadow:5px 0px 5px 5px #f2f2f2;
    border-radius:15px 15px 15px 15px;
}

.photoblock1{
    height:90%;
    max-width:320px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
  
}
.activityfigcaption1{
    height:10%;
    width:320px; 
    border-radius:0px 0px 15px 15px;
    margin-top:-5px;
    
}
/*block2*/
.block2{
    height:544px;
    width:320px; 
    margin:-20px 2px 0px 0px; 
    border-radius:15px 15px 15px 15px;
}
/*A*/
.A{
    box-shadow:5px 0px 5px 5px #f2f2f2;
    height:65%;
    width:320px;
    margin:auto;
    border-radius:15px 15px 15px 15px;
}
.photoblockA{
    height:80%;
    width:320px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
}
.activityfigcaptionA{
    height:20%;
    width:320px;
    border-radius:0px 0px 15px 15px;
    margin-top:-5px;

}
/*B*/
.B{
    box-shadow:5px 0px 5px 5px #f2f2f2;
    height:31.5%;
    width:320px;
    margin:auto;
    border-radius:15px 15px 15px 15px;

}
.photoblockB{
    height:65%;
    width:320px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
}
.activityfigcaptionB{
    height:35%;
    width:320px;
    margin-top:-5px;
}

/*block3*/
.block3{
    height:544px;
    width:320px; 
    margin:0px 35px 0px -10px;
    box-shadow:5px 0px 5px 5px #f2f2f2;
    border-radius:15px 15px 15px 15px;
}

.photoblock3{
    height:90%;
    width:320px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
}
.activityfigcaption3{
    height:10%;
    width:320px; 
    border-radius:0px 0px 15px 15px;
    margin-top:-5px;
}

/*block4*/
.block4{
    height:544px;
    width:320px;
    margin:-20px 2px 0px -30px;
}
/*C*/
.C{
    height:48.5%;
    width:320px;
    margin:0px 0px 0px 24.29px;
    box-shadow:5px 0px 5px 5px #f2f2f2;
    border-radius:15px 15px 15px 15px;
}
.photoblockC{
    height:75%;
    width:320px;
    border-radius:15px 15px 0px 0px;
}
.activityfigcaptionC{
    height:25%;
    width:320px;
    border-radius:0px 0px 15px 15px;
    margin-top:-5px;
}
/*D*/
.D{
    height:48.5%;
    width:320px;
    margin:0px 0px 0px 24.29px;
    box-shadow:5px 0px 5px 5px #f2f2f2;
    border-radius:15px 15px 15px 15px;
}
.photoblockD{
    height:75%;
    width:320px;
    border-radius:15px 15px 0px 0px;
}
.activityfigcaptionD{
    height:25%;
    width:320px;
    border-radius:0px 0px 15px 15px;
    margin-top:-5px;
}
h3{
    padding-top:10px;
}
   
/*footer*/
.footer{  
    background-color:#f2f2f2; 
    max-width:100%;
    margin:0px;       
}
.cases123{
    display:flex;
    max-width:75%;
    justify-content:space-between;      
}
.case{
    margin:0px 20px;
}

.h3footer{
    margin:20px 0px 0px 50px;   
}
ul{
    list-style-type: none;
    margin:0px;
}
li{
    margin:20px 0px;
}
@media screen and (min-width:768px) and (max-width:992px) {
    .container{
        margin:0px 20px 0px 20px;
    }

    .section1{
        flex-direction:column-reverse;
    }
    /*accommodation*/
    .accommodation{
        width:100%;
    }
    .accommodationmain{
        margin-bottom:30px;
    }
    .linetablette{
        display:flex;
        justify-content:space-between;
    }
    .line1{
        flex-direction:column;
        justify-content:space-between;
        width:47%;
        margin:0px;
        padding-left:70px;
    
        }
    .line2{
        flex-direction:column;
        justify-content:space-between;
        width:47%;
        margin:0px;
        padding-right:60px;
    }
    .hmarseille{
        padding:0px 0px 0px 85px;
    }
    .afficher{
        margin-left:85px;
        padding-bottom:50px;
    }
    /*aside*/
    aside{
        width:100%;
        margin-bottom:30px;
    }

    .themostpop{
        justify-content:space-between;
        margin-right:30px;
    }
    
    /*activités*/
    .activity{
        width:100%;
        height:1200px;
        display:flex;
        flex-direction: column;
    }
    .activamars{
        margin:30px 0px 0px 70px;
    }
    .block1AB{
       display:flex;
       justify-content:center;     
    }
    .block2CD{
       display:flex;
       justify-content:center; 
       margin-right:35px;     
    }
    /*footer**/
    .footer{
        max-width:100%;
    }
    .cases123{
        max-width:100%; 
    }
    .case{
        width:33%;
        justify-content:space-around;
        margin:0px;
    }   
}
@media screen and (max-width:768px){
    .container{
        width:90%;
    }
    header{
        width:100%;
    }
    /*navigation*/
    nav{
        width:100%;
        flex-direction:column;
    }
    nav a:hover{
        border-bottom:3px solid #0065fc;
        border-top:none;
    }
    nav a{
        width:100%;
        border-bottom:3px solid #f2f2f2;
        padding-bottom:10px;
    }
    
    
    .logobooki{
        margin-bottom:35px;      
    }
    .hebergact{
        display:flex;
        width:100%;  
        margin-right:22px; 
        margin-bottom:20px;
    }
    .hebergements{
        width:50%; 
                
    }
    .activites{
        width:50%;  
                 
    }
    /*titres*/
    h1{
        font-size:25px;
        padding-bottom:10px;
    }
    .subtitleh1{
        margin-top:5px;
        padding-bottom:30px;
    }
    h2{
        font-size:20px;
    }
    /*research*/
    .research{
        max-width:90%;
        margin-bottom:30px;
    }
    /*section1*/
    .section1{
        width:100%; 
        display:flex;
        flex-direction: column-reverse;
    }
    .aside{
        width:100%;
        
    }
    .themostpopular{
        width:100%;
        
    }
    .themostpopularmaincard{
        width:100%;
    
    }
    .accommodation{
        width:100%;   
    }
    .accommodationmain{
        margin:10px 0px 10px 0px;
    }
    .line1{
        flex-direction:column;
        margin:0px 0px 0px 40px;
    }
    .line2{
        flex-direction:column;
        margin:0px 0px 0px 40px;
    }
    
    /*section2*/
    .activity{
        max-width:100%;
        height:2000px;
        display:flex;
        flex-direction: column;
    }
    
    /*footer*/
    footer{
        width:100%;
    }
    .cases123{
        flex-direction:column;
        margin:auto;
    }
    
}