/*couleur fond de page , couleur police,marge*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

.container{
    margin:auto;
    max-width:1341px;
}
/*wildcard*/
*{
    font-family: raleway,sans-serif;
    box-sizing: border-box;
}
a{
    color:inherit;
    text-decoration: none;
}
/*header*/
.titleh1{
    margin:30px 0px 0px 0px;
}
.subtitleh1{
    margin:16px 0px 16px 0px;;
}
/*navigation*/
nav{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap:wrap; 
}
nav a{
    padding:2em;
    color: #0065fc;
    border-top: 3px solid transparent;
}
nav a:hover{
    border-top:3px solid #0065fc;
}
.logobooki{
    margin-right:auto;
    padding-right: 0 2px;
    width: 6em;
}

.activites{
    color:black;
}
.activites:hover{
    color:#0065fc;
}
/*research*/
.fas.fa-map-marker-alt{
    display: flex;
    border:2px solid #f2f2f2;
    background-color: #f2f2f2;
    width:50px;
    height:50px;
    border-radius:15px 0px 0px 15px;
    align-items:center;
    justify-content: center;
}
.fas.fa-map-marker-alt::before{
    display:flex;
    width:30px;
    height:30px;
    align-items:center;
    justify-content: center;
}
.research {
    display:flex;
    max-width: 800px;
    height:50.4px;
}

.research-bar{
    display:flex;
    border:2px solid #f2f2f2;
    font-weight:bold ;
    text-align:center;
    width:224px;
}


.button-research{
    display:flex;
    background-color:#0065fc;
    color:white;
    font-weight:bold;
    padding-top: 15px;
    border-radius:0px 15px 15px 0px;
    width:136px;
    justify-content:center;
 }

/*filtres*/

.filtres{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    max-width:1000px;
    line-height: 4em;  
    font-weight:bold; 
}
h2{
    font-size:27px;
}

/*filtres*/
.icon{
    display:flex;
    border:3px solid #f2f2f2;
    padding:1px 15px 1px 0px;
    height:50px;
    align-items:center;
    border-radius:30px 30px 30px 30px;
    margin-left:1em;
}

.icon:hover{
    background-color:#deebff;
}
.i{
    color:#0065fc;
    display:flex;
    align-items:center;
    width:50px;
    height: 50px;
    border-radius:30px 30px 30px 30px;
    background-color:#deebff;
    justify-content:center;
    margin-right:0.5rem;
}

/*icone information*/

.icon-information{
    display:flex;
    align-items:center;
    line-height: 2em;
    margin: 0px 0px 40px 0px;
}
.iconi{
    display:flex;
    justify-content:center;
    width:32px;
    height:32px;
    color:#0065fc;
    border: 2px solid #f2f2f2;
    border-radius:30px 30px 30px 30px;
    background-color:white;
    margin-right: 15px;
    align-items:center;
}
/*Section1*/
.section1{
    display:flex;
    }

.accommodation{
        background-color:#f2f2f2;
        justify-content:space-between;
        margin-right:40px;
        border-radius:30px;
        max-width:1341px;
 }
 .accommodationmaincardimg{
     max-width:200px;
 }
.themostpopular{
    display:flex;
}
.themostpopularmaincardimg{
    max-width:200px;
}

.line1{
    display:flex;
    
}.line2{
    display:flex;
}

/*Section2*/
.activity{
    display:flex;
    border-radius:30px;
    max-width: 1336px;
    height:498px;
}

/*footer*/
.footer{
    display:flex;
    background-color:#f2f2f2; 
    max-width:100%;    
    height:218px;
}